/* whoswho.component.css */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure the container takes up the full viewport height */
}

.viewport {
  flex: 1;
  /* This will make the viewport fill the remaining vertical space */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#banner-image {
  width: 100%;
  height: auto;
  /* This property ensures that the image covers the entire container while maintaining its aspect ratio */
}


footer {
  margin-top: auto;
  /* Push the footer to the bottom */
}


.flip-card {
  display: block;
  position: relative;
  z-index: 1000;
  width: 250px;
  height: 350px;
}

.flip-card .card-front,
.flip-card .card-back {
  backface-visibility: hidden;
  transition: transform 500ms;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.flip-card .card-front {
  transform: perspective(300px) rotateY(0);
  z-index: 900;
}

.flip-card .card-back {
  transform: perspective(300px) rotateY(-180deg);
  z-index: 800;
}

.flip-card:hover .card-front {
  transform: perspective(300px) rotateY(180deg);
}

.flip-card:hover .card-back {
  z-index: 950;
  transform: perspective(300px) rotateY(0deg);
}

.flip-card {
  text-shadow: 1px 1px 0 rgba(21, 64, 94, 0.8);
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  min-width: 100px;
  max-width: 400px;
}

.flip-card .card-front,
.flip-card .card-back {
  border-radius: 5px;
  box-sizing: border-box;
}

.flip-card .card-front {
  box-sizing: border-box;
  background-color: #499bea;
  background-image: linear-gradient(top, #499bea 0%, #207ce5 100%);
}

.flip-card .card-back {
  background-color: #3f51b5;
  background-image: linear-gradient(top, #478ce0 0%, #1168db 100%, #0263db 100%);
}

body {
  background-color: #e6f2f7;
  background-image: radial-gradient(center, circle cover, #e6f2f7 0%, #a0d8ef 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0%, #e6f2f7), color-stop(100%, #a0d8ef));
  background-image: -webkit-radial-gradient(center, circle cover, #e6f2f7 0%, #a0d8ef 100%);
  background-image: -moz-radial-gradient(center, circle cover, #e6f2f7 0%, #a0d8ef 100%);
  background-image: -o-radial-gradient(center, circle cover, #e6f2f7 0%, #a0d8ef 100%);
  background-image: -ms-radial-gradient(center, circle cover, #e6f2f7 0%, #a0d8ef 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e6f2f7', endColorstr='#a0d8ef', GradientType=1);
}

.viewport {
  margin: 10px auto 0;
}

.flip-card .card-front img {
  width: 100%;
  /* Set the width to 100% to make the image full-size */
  height: 100%;
  /* Set the height to 100% to maintain aspect ratio */
  object-fit: cover;
  /* Ensure the image covers the entire area without stretching */
  border-radius: 5px;
  /* Apply border-radius if needed */
}

.title {
  font-size: 16px;
  font-weight: bold;
  font-family: Optima, sans-serif;
  padding: auto;
  padding-top: 0.5rem;
}

.content {
  text-align: center;
  font-size: 14px;
  font-family: Optima, sans-serif;
  /* Add padding for top and bottom */
  position: absolute;
}