<h1>Know Your Government!</h1>
<div class="container">
<div class="viewport">

    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/President.jpg" alt="President of France">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>

    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Prime_Minister.jpg" alt="Prime Minister of France">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Deputy_of_France_National_Assembly.jpg" alt="Deputy of France National Assembly">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_of_Culture_of_France.jpg" alt="Minister of Culture of France">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Deputy_Minister_for_Democratic_Renewal_of_France.jpg" alt="Deputy Minister for Democratic Renewal of France">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_of_the_Interior_of_France.jpg" alt="Minister of the Interior of France">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_for_Ecological_Transition_and_Territorial_Cohesion_of_France.jpg" alt="Minister for Ecological Transition and Territorial Cohesion of France">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/French_Minister_Delegate_for_Industry.jpg" alt="French Minister Delegate for Industry">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/President_of_the_French_Senate.jpeg" alt="President_of_the_French_Senate">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_for_Europe_and_Foreign_Affairs_of_France.jpeg" alt="Minister for Europe and Foreign Affairs of France">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Former_president_of_Court_of_Cassation.jpeg" alt="Former president of Court of Cassation">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_of_Higher_Education_&_Research.jpg" alt="Minister of Higher Education & Research">
      </div>
      <div class="card-back">
        Back!
      </div>
    </div>
    
  </div>
</div>  