<img id="banner-image" src="../../assets/WhosWho_Banner.jpeg" alt="Découvrez la démocratie">
<div class="container">
  <div class="viewport">

    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/President.jpg" alt="Président de la France">
      </div>
      <div class="card-back">
        <div class="title">Président de la République <br> (Emmanuel Macron)</div>
        <div class="content">
          <p>Emmanuel Macron est le président de la République française depuis mai 2017.</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Prime_Minister.jpg" alt="Premier ministre de la France">
      </div>
      <div class="card-back">
        <div class="title">Premier ministre <br> (Gabriel Attal)</div>
        <div class="content">
          <p>Gabriel Attal est le Premier ministre de France depuis juillet 2023.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Deputy_of_France_National_Assembly.jpg" alt="Député de l'Assemblée nationale française">
      </div>
      <div class="card-back">
        <div class="title">Député de l'Assemblée nationale française <br> (Marine Le Pen)</div>
        <div class="content">
          <p>Marine Le Pen est une députée de l'Assemblée nationale française depuis juin 2017.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_of_Culture_of_France.jpg" alt="Ministre de la Culture de France">
      </div>
      <div class="card-back">
        <div class="title">Ministre de la Culture de France <br> (Rachida Dati)</div>
        <div class="content">
          <p>Rachida Dati est la ministre de la Culture de la France depuis septembre 2022.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Deputy_Minister_for_Democratic_Renewal_of_France.jpg" alt="Vice-ministre du Renouveau Démocratique de la France">
      </div>
      <div class="card-back">
        <div class="title">Vice-ministre du Renouveau Démocratique de la France <br> (Prisca Thevenot)</div>
        <div class="content">
          <p>Prisca Thevenot est la vice-ministre du Renouveau Démocratique de la France depuis avril 2023.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_of_the_Interior_of_France.jpg" alt="Ministre de l'Intérieur de la France">
      </div>
      <div class="card-back">
        <div class="title">Ministre de l'Intérieur de la France <br> (Gérald Darmanin)</div>
        <div class="content">
          <p>Gérald Darmanin est le ministre de l'Intérieur de la France depuis juillet 2020.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_for_Ecological_Transition_and_Territorial_Cohesion_of_France.jpg" alt="Ministre de la Transition écologique et de la Cohésion des territoires de la France">
      </div>
      <div class="card-back">
        <div class="title">Ministre de la Transition écologique et de la Cohésion des territoires de la France <br> (Christophe Béchu)</div>
        <div class="content">
          <p>Christophe Béchu, ministre depuis septembre 2022, en charge de l'écologie et des territoires.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/French_Minister_Delegate_for_Industry.jpg" alt="Ministre délégué à l'Industrie">
      </div>
      <div class="card-back">
        <div class="title">Ministre délégué à l'Industrie <br> (Roland Lescure)</div>
        <div class="content">
          <p>Roland Lescure est le ministre délégué à l'Industrie de la France depuis juillet 2023.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/President_of_the_French_Senate.jpeg" alt="Président du Sénat français">
      </div>
      <div class="card-back">
        <div class="title">Président du Sénat français <br> (Gérard Larcher)</div>
        <div class="content">
          <p>Gérard Larcher est le président du Sénat français depuis septembre 2014.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_for_Europe_and_Foreign_Affairs_of_France.jpeg" alt="Ministre de l'Europe et des Affaires étrangères de la France">
      </div>
      <div class="card-back">
        <div class="title">Ministre de l'Europe et des Affaires étrangères de la France <br> (Stéphane Séjourné)</div>
        <div class="content">
          <p>Stéphane Séjourné est le ministre de l'Europe et des Affaires étrangères de la France depuis juillet 2023.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Former_president_of_Court_of_Cassation.jpeg" alt="Ancien président de la Cour de cassation">
      </div>
      <div class="card-back">
        <div class="title">Ancien président de la Cour de cassation <br> (Bertrand Louvel)</div>
        <div class="content">
          <p>Bertrand Louvel est l'ancien président de la Cour de cassation de la France.</p>
        </div>
      </div>
    </div>
    
    <div class="flip-card">
      <div class="card-front">
        <img src="../../assets/Govt_Officials_Images/Minister_of_Higher_Education_&_Research.jpg" alt="Ministre de l'Enseignement supérieur et de la Recherche de France">
      </div>
      <div class="card-back">
        <div class="title">Ministre de l'Enseignement supérieur et de la Recherche de France <br> (Sylvie Retailleau)</div>
        <div class="content">
          <p>Sylvie Retailleau est la ministre de l'Enseignement supérieur et de la Recherche de la France depuis mai 2022.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>  