<!-- Header -->

<header>
  <nav class="navbar" style="max-height: 92px; box-shadow: none;">
    <div class="logo">
      <img src="https://svgur.com/i/152V.svg" style="height: 85px;" alt="Avant Garde Politique">
    </div>
    <ul class="nav-links">
      <li class="nav-item">
        <a class="nav-link"  routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="projects">{{"Projects" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="" routerLink="/events">{{"Events" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="" routerLink="/vote">{{"Vote" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="quiz">{{"Quiz" | translate}} </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="feedback">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="whoswho">Who's who</a>
      </li>
      <!-- <li><a href="#events">Events</a></li>
      <li><a href="#vote">Vote</a></li>
      <li><a href="#quiz">Quiz</a></li> -->
    </ul>
    <div class="lang">
      <a href="#english" class="lang-link">English</a> |
      <a href="#french" class="lang-link">French</a>
    </div>
    <div class="login-button">
      <button type="button">Login</button>
    </div>
    <form class="d-flex">
      <div class="form-group mt-2">
        <select class="form-select" (change)="ChangeLanguage($event)">
          <option [selected]="language==='en'"  value="en">{{"English" | translate}}</option>
          <option [selected]="language==='fr'"  value="fr">{{"French" | translate}}</option>
          
        </select>
      </div>

      <button style="max-height: 39px;margin-top: 7px;margin-left: 12px;" class="btn btn-success" type="button" (click)="openLoginModal()" *ngIf="!loggedIn">{{"Login" | translate}}</button>
      <button style="max-height: 39px;margin-top: 7px;margin-left: 12px;" class="btn btn-success" type="button" (click)="logout()" *ngIf="loggedIn">{{"Logout" | translate}}</button>
    </form>
  </nav>
</header>
<router-outlet></router-outlet>

<!-- <header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="projects">{{"Projects" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="" routerLink="/events">{{"Events" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="" routerLink="/vote">{{"Vote" | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="quiz">{{"Quiz" | translate}} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home">Feedback</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header> -->



<!-- Footer -->
<footer>
  <div class="footer-class">
    <div class="footer-center" style="margin-top: 30px; display: flex; gap: 10px;"><a class="" aria-label="About Medium"
        rel="noopener follow" href="/about">
        <p class="footer-href">About</p>
      </a><a class="" aria-label="Terms of service"
        href="https://policy.medium.com/medium-terms-of-service-9db0094a1e0f" rel="noopener follow">
        <p class="footer-href">Terms</p>
      </a><a class="" aria-label="Privacy policy"
        href="https://policy.medium.com/medium-privacy-policy-f03bf92035c9" rel="noopener follow">
        <p class="footer-href">Privacy</p>
      </a><a class="" aria-label="Help center"
        href="https://help.medium.com/hc/en-us" rel="noopener follow">
        <p class="footer-href">Help</p>
      </a><a class="" aria-label="Medium for teams"
        rel="noopener follow" href="/business">
        <p class="footer-href">Teams</p>
      </a><a class="" aria-label="Press" href="mailto:press@medium.com"
        rel="noopener follow">
        <p class="footer-href">Press</p>
      </a></div>
  </div>
</footer>

