<!-- Header -->
<!-- <header>
  <div>
    <img src="https://i.ibb.co/rmrzkVD/Image.png" alt="">
    <div>
      <ul class="u-nav u-unstyled u-nav-1"><li><a  href="Home.html" style="padding: 10px 20px;">Home</a>
    </li><li><a  href="/About.html" style="padding: 10px 20px;">Events</a>
    </li><li><a  href="/Contact.html" style="padding: 10px 20px;">Vote</a>
    </li><li><a  style="padding: 10px 20px;">Quiz</a>
    </li></ul>
    </div>
    
    <div>
      <ul><li class="u-nav-item"><a style="padding: 0px 20px;">English</a>
</li><li class="u-nav-item"><a style="padding: 0px 20px;">French</a>
</li></ul>
    </div>

    <a href="tel:+12345678910">Login </a>
  </div>
</header> -->

<header>
  <nav class="navbar" style="max-height: 92px; box-shadow: none;">
    <div class="logo">
      <img src="https://svgur.com/i/152V.svg" style="height: 85px;" alt="Avant Garde Politique">
    </div>
    <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#vote">Vote</a></li>
      <li><a href="#quiz">Quiz</a></li>
    </ul>
    <div class="lang">
      <a href="#english" class="lang-link">English</a> |
      <a href="#french" class="lang-link">French</a>
    </div>
    <div class="login-button">
      <button type="button">Login</button>
    </div>
  </nav>
</header>

<!-- Main content -->
<main class="mt-5">
  <div class="page-wrapper">
    <div style="height: 100vh; width: 100%;"></div>
    <div class="red-box"></div>
    <div class="blue-box"></div>
    <img src="https://i.ibb.co/FXGmqtT/EmmyMac.jpg" alt="Your Image" class="image">
    <div class="text-box-class">
      <h2 class="heading-main-page"> Empowering France: Unveiling Progress, One Event at a Time!</h2>
      <p class="main-page-para"> France unveils 'Révéler le Progrès': A dynamic government website showcasing national progress, fostering transparency, and citizen engagement</p>
      <p class="credits-para"> Image source:</p>
      <p class="credits-para"> Christine Ockrent</p>
    </div>
    <!-- <div style="height: 10vh;"></div> -->
    <h2 class="tagline-home" style="padding-top: 70px;">Innovating for Impact</h2>
    <h2 class="tagline-home" style="margin-top: -20px;">Discover Our Government Projects</h2>
    <div class="container">
      <div class="item">
        <img class="item-img" src="https://batinfo.com/news/2020/09/09/1920/09-La-Banque-des-Territoires-et-Bpifrance-lancent-un-Plan-Climat-de-40-milliards-d-euros.jpg" alt="">
        <h4 class="item-title"> Climate Plan</h4>
        <p class="item-para">Many travel companies talk about minimizing their impact. We aim to maximize ours. That's because all our trips are designed to do good.</p>
      </div>
      <div class="item">
        <img class="item-img" src="https://batinfo.com/news/2020/09/09/1920/09-La-Banque-des-Territoires-et-Bpifrance-lancent-un-Plan-Climat-de-40-milliards-d-euros.jpg" alt="">
        <h4 class="item-title"> Climate Plan</h4>
        <p class="item-para">Many travel companies talk about minimizing their impact. We aim to maximize ours. That's because all our trips are designed to do good.</p>
      </div>
      <div class="item">
        <img class="item-img" src="https://batinfo.com/news/2020/09/09/1920/09-La-Banque-des-Territoires-et-Bpifrance-lancent-un-Plan-Climat-de-40-milliards-d-euros.jpg" alt="">
        <h4 class="item-title"> Climate Plan</h4>
        <p class="item-para">Many travel companies talk about minimizing their impact. We aim to maximize ours. That's because all our trips are designed to do good.</p>
      </div>
      <div class="item">
        <img class="item-img" src="https://batinfo.com/news/2020/09/09/1920/09-La-Banque-des-Territoires-et-Bpifrance-lancent-un-Plan-Climat-de-40-milliards-d-euros.jpg" alt="">
        <h4 class="item-title"> Climate Plan</h4>
        <p class="item-para">Many travel companies talk about minimizing their impact. We aim to maximize ours. That's because all our trips are designed to do good.</p>
      </div>
      <div class="item">
        <img class="item-img" src="https://batinfo.com/news/2020/09/09/1920/09-La-Banque-des-Territoires-et-Bpifrance-lancent-un-Plan-Climat-de-40-milliards-d-euros.jpg" alt="">
        <h4 class="item-title"> Climate Plan</h4>
        <p class="item-para">Many travel companies talk about minimizing their impact. We aim to maximize ours. That's because all our trips are designed to do good.</p>
      </div>
      <div class="item">
        <img class="item-img" src="https://batinfo.com/news/2020/09/09/1920/09-La-Banque-des-Territoires-et-Bpifrance-lancent-un-Plan-Climat-de-40-milliards-d-euros.jpg" alt="">
        <h4 class="item-title"> Climate Plan</h4>
        <p class="item-para">Many travel companies talk about minimizing their impact. We aim to maximize ours. That's because all our trips are designed to do good.</p>
      </div>
    </div>
</div>
<!-- <div class="footer">

</div> -->
</main>

<!-- Footer -->
<footer>
  <div class="footer-class">
    <div class="footer-center" style="margin-top: 30px; display: flex; gap: 10px;"><a class="" aria-label="About Medium"
        rel="noopener follow" href="/about">
        <p class="footer-href">About</p>
      </a><a class="" aria-label="Terms of service"
        href="https://policy.medium.com/medium-terms-of-service-9db0094a1e0f" rel="noopener follow">
        <p class="footer-href">Terms</p>
      </a><a class="" aria-label="Privacy policy"
        href="https://policy.medium.com/medium-privacy-policy-f03bf92035c9" rel="noopener follow">
        <p class="footer-href">Privacy</p>
      </a><a class="" aria-label="Help center"
        href="https://help.medium.com/hc/en-us" rel="noopener follow">
        <p class="footer-href">Help</p>
      </a><a class="" aria-label="Medium for teams"
        rel="noopener follow" href="/business">
        <p class="footer-href">Teams</p>
      </a><a class="" aria-label="Press" href="mailto:press@medium.com"
        rel="noopener follow">
        <p class="footer-href">Press</p>
      </a></div>
  </div>
</footer>

