<div  class="row justify-content-md-center">
    <!-- <div class="col-md-9 mx-auto"> -->
        <div class="card quiz-form">
            <div class="row">
                <div class="col-md-12">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title text-center">Quiz</h4>
                      </div>
                      

                    <div class="form-group" >
                        <!-- <h1>Quiz</h1> -->
                        <hr>
                        <!-- <p><b>{{index+1}}.</b> {{selected.question}}</p> -->
                        <p><b>2.</b> Herllo</p>
                        
                        <div >
                            <input type="radio" id="answer_a" class="btn-check" name="answer" autocomplete="off" 
                            value="2" >
                            <label class="btn btn-outline-success" for="answer_a">3434</label><br><br>
                        </div>
                        
                    </div>

                    <div class="form-btn">
                        <!-- <button class="submit-btn" (click)="nextQuestion()">{{questions.length === (index+1) ? 'Finish' : 'Next'  }}</button> -->
                        <button class="submit-btn" >Next</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>